@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

//colors
$color-1: #212529;
$dark-grey: #333447;

//container max-width
$containerMaxWidth: 1200px;
//============MIXINS=============//
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $addMobSize: $addSize + $addSize * 0.7;

 @media (max-width: 767px) {
	font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$containerMaxWidth}));
 }
 @media (min-width: 768px) {
	font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$containerMaxWidth}));
 }
}

html,body{
	font-family: $font-family;	
	// @include adaptiv-font(18,14);
  font-size: 14px;
	height: 100%;
  font-weight: 400;
  color:  $color-1;
  background-color: #fff;
	width: 100%;
	font-size: 100%;
	line-height: $font-height;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
// .container{
// 	width: 100%;
// 	max-width:$containerMaxWidth;
// 	margin: 0 auto;
// 	// display: flex;
// 	// flex-direction: column;
// 	position: relative;
// }
	
.col{
	display: flex;
  flex: 0 0 auto;
	flex-direction: column;
  width: 100%;
	position: relative;
}
.row{
	display: flex;
  flex: 0 0 auto;
  width: 100%;
	position: relative;
}
// .row {
//     --bs-gutter-x: 1.5rem;
//     --bs-gutter-y: 0;
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: calc(var(--bs-gutter-y) * -1);
//     margin-right: calc(var(--bs-gutter-x) / -2);
//     margin-left: calc(var(--bs-gutter-x) / -2);
//   }
//   .row > * {
//     flex-shrink: 0;
//     width: 100%;
//     max-width: 100%;
//     padding-right: calc(var(--bs-gutter-x) / 2);
//     padding-left: calc(var(--bs-gutter-x) / 2);
//     margin-top: var(--bs-gutter-y);
//   }
  
.center{
	justify-content: center;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.col-auto{
    flex: 0 0 auto;
    width: auto;
}
               

@media (min-width: 576px) {
  html,body{
    font-size: 15px;
  }
    .container-sm, .container {
      max-width: 540px;
    }
    .sm {
        flex: 1 0 0%;
    }
  }
  @media (min-width: 768px) {
    html,body{
      font-size: 16px;
    }
  
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
    .md {
        flex: 1 0 0%;
        // width: 100%;
    }
  }
  @media (min-width: 992px) {
    html,body{
      font-size: 17px;
    }
  
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
    .lg {
        flex: 1 0 0%;
    }
  }
  @media (min-width: 1200px) {
    html,body{
      font-size: 18px;
    }
  
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
    .xl {
        flex: 1 0 0%;
    }
  }
  @media (min-width: 1400px) {
    html,body{
      font-size: 19px;
    }
  
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
    .xxl {
        flex: 1 0 0%;
    }
  }

  