@import './Null.scss';
@import './Media-querys.scss';
@import './Total.scss';

  
h1{
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 7px 7px 0 0;
  background-color: rgba(0,0,0,0.2);
  li{
    list-style: none;
    color: #000;
  }
  li a{
    text-transform: uppercase;
    text-decoration: none;
    
  }
}



