@import './Null.scss';
@import './Media-querys.scss';
@import './Total.scss';

  
h1{
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  // border-bottom: 2px solid #fff;
  margin-bottom: 16px;
  box-shadow: 0px 0px 3px 3px white;
  // background-color: rgba(0,0,0,0.5);
  li{
    list-style: none;
    max-width: 200px;
    text-decoration: underline;
  }
  li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    // background-color: rgba(255,255,255,0.7);
    padding: 5px 10px;
    border-radius: 4px;
    transition: 400ms ease;
    &:hover{
      color: red;
    }
  }
  li a:active{
    color: blue;
  }
}



