@import './Null.scss';
@import './Media-querys.scss';
@import './Total.scss';

  
h1{
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  li{
    list-style: none;
  }
  li a{
    color: blue;
    text-transform: uppercase;
    text-decoration: none;
  }
}



