@import './TotallStyle.scss';

.table-top{
    position: sticky;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
@media (max-width: 575px) {
    .table-top-wraper{
        display: none;
    }
}
//===================================//
.sort-panel{
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);;
    .button{
        width: 6rem;
        padding: 3px;
        margin: 5px;
        text-align: center;
        border-radius: 0.25rem;
        background-color: rgba(255,255,255,0.8);
        cursor: pointer;
    }
    .users-on-page{
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    .gender-buttons{
        display: flex;
        width: 40%;
        justify-content: space-between;
    }
    // .block-3{
    //     display: flex;
    //     width: 20%;
    //     justify-content: flex-end;
    // }
    //=============================================//
    .sort-by-nationality{
        display: flex;
        width: 20%;
        justify-content: flex-end;
        z-index: 1000;
        transform: scale(1);
        padding: 3px 10px;
        margin: 5px;
        border-radius: 0.25rem;
        // background-color: rgba(255,255,255,0.8);
        background-color: orange;
        text-align: center;
        cursor: pointer;
        position: relative;
        .glas-list{
            position: absolute;
            top: 25px;
            left: 0;
            cursor: pointer;
            padding: 10px 15px;
            border: 2px solid  rgba(0,0,0,0.1);
            border-radius: 0.25rem;
            background-color: white;
            li{
                list-style: none;
                font-size: 1rem;
            }
            li:hover{
                background-color: rgba(0,0,0,0.1);
            }
            li:first-child{
                color: red; 
            }
        }
    
    }
}    
//============================================//
.users-list{
    .user{
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgb(100, 94, 94);
        border-radius: 0 0 0.5rem 0.5rem;
        margin-bottom: 5px;
        .photo{
            width: 75px;
            height: 75px;
            border-radius:50%;
            margin: 5px;
        }
        .fullname{
            padding: 5px;
            color: blue;
            flex-grow: 1;
            .nation{
                color:chartreuse;
                padding: 5px;
            }
        }
        .birthday{
            flex-grow: 1;
            padding: 5px;
        }
        .contact{
            padding: 5px;
            flex-grow: 1;
        } 
        .location{
                padding: 0 5px;
        }  

    }
}    
@media (max-width: 575px) {
    .user{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        .photo{
            margin-right: 20px;
        }
        .fullname{
            flex-grow: 1;
            span{
                font-size: 1.5rem;
            }
        }
        .birthday{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .contact{
            width: 100%;
            border-top: 1px dashed $color-1;
            border-bottom: 1px dashed $color-1;
        } 
        .location{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 5px;
            span{
                flex-grow: 1;
            }
        }  
        .nation{
            width: 100%;
        }

    }
}
@media (max-width: 991px) {
    .user{
        flex-wrap: wrap;
        .location{
            flex-direction: row;
            width: 100%;
            border-top: 1px dashed $color-1;
            span{
                padding-right: 10px;
            }
        }

    }
}
/*=============== LEPTOPS =======================*/	
@media (max-width: 992px) {
    .sort-panel{
        align-items: flex-end;
        flex-wrap: wrap;
        .button{
            background-color: red;
        } 
        .users-on-page{
            width: 50%;
        }
        .gender-buttons{
            width: 50%;
        }    
        .sort-by-nationality{
            width: 20%;
            .glas-list{
                background-color: green;
            }
        }    
  
    }

}
@media (max-width: 575px) { 
    .sort-panel{
        flex-direction: column;
        .users-on-page{
            width: 100%;
        }
        .gender-buttons{
            width: 100%;
        }    
        .sort-by-nationality{
            width: 50%;
            .glas-list{
                background-color: green;
            }
        }    
    
    }
    
    

}







