//==========================TOTALL STYLES=====================//

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

$color-1: #212529;
$dark-grey: #333447;
html,body{
	font-family: 'Lato', Helvetica, sans-serif;	
	height: 100%;
  font-weight: 400;
  color:  $color-1;
  background-color: #fff;
	width: 100%;
	// line-height: $font-height;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
  background-color: green;
}

//=========================GREED STYLING====================//
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
  background-color: #fff;
}
.col{
	display: flex;
  flex: 0 0 auto;
	flex-direction: column;
  width: 100%;
	position: relative;
}
.row{
	display: flex;
  flex: 0 0 auto;
  width: 100%;
	position: relative;
}
 .col-1 {
    display: flex;
    flex: 0 0 auto;
    width: 8.3333333333%;
}
.col-2 {
    display: flex;
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.col-3 {
  display:flex;
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    display: flex;
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.col-5 {
  display:flex;
    flex: 0 0 auto;
    width: 41.6666666667%;
}
.col-6 {
    display: flex;
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    display: flex;
    flex: 0 0 auto;
    width: 58.3333333333%;
}
.col-8 {
    display: flex;
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.col-9 {
    display: flex;
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    display: flex;
    flex: 0 0 auto;
    width: 83.3333333333%;
}
.col-11 {
    display: flex;
    flex: 0 0 auto;
    width: 91.6666666667%;
}
.col-12 {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
}
.col-auto{
    display: flex;
    flex: 0 0 auto;
    width: auto;
}
               
//===================media-queris================================//
@media (max-width: 575px) {
  html,body{
    font-size: 16px;
  }
  .container-sm, .container {
    max-width: 540px;
  }
  .sm {
      flex: 1 0 0%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  html,body{
    font-size: 16px;
  }
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
  .md {
      flex: 1 0 0%;
      // width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html,body{
    font-size: 17px;
  }

  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
  .lg {
      flex: 1 0 0%;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  html,body{
    font-size: 18px;
  }
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
  .xl {
      flex: 1 0 0%;
  }
}

@media (min-width: 1400px) {
  html,body{
    font-size: 19px;
  }

  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
  .xxl {
      flex: 1 0 0%;
  }
}
//=============================================================//


//=================Обнуление Normalize CSS======================//
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}
p,div,span {font-size: 1rem;}
hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 1;
	opacity: 0.25;
  }
  
:focus,:active{outline: none;}
a {
	color: #0d6efd;
	text-decoration: underline;
	background-color: transparent;
}
a:hover{
	color: #0a58ca;
	text-decoration: none;}
a, a:visited{
	text-decoration: none;
}
a:focus,a:active{outline: none;}
  
button,input,optgroup,select,textarea {
	border-radius: 0;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
button,input {overflow: visible;}
button,select {text-transform: none;}
button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35rem 0.75rem 0.625rem;
}
legend {
box-sizing: border-box; /* 1 */
color: inherit; /* 2 */
display:  inline-block;
max-width: 100%; /* 1 */
padding: 0; /* 3 */
white-space: normal; /* 1 */
}
progress {
vertical-align: baseline;
}
textarea {
overflow: auto;
}
[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}
[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
}

ul li{list-style: none;}
img{vertical-align: top;}
img {border-style: none;}
code,kbd,samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1rem; /* 2 */
}
nav,footer,header,aside{display: block;}
small {font-size: 80%;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
//======================THE END===================================//
